/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #232634;
    background-alt: #303446;
    foreground:     #D9E0EEFF;
    selected:       #babbf1;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
